* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background: #111;
  color: white;
  width: 600px;
  padding: 25px;
}

section {
  box-shadow: 0 10px 25px rgba(255, 233, 35, 0.81);
}

h1 {
  color: #fbff1f;
}

p {
  font-size: 14px;
}